<div th:fragment="Admin_MainMenu" class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow" role="navigation" data-menu="menu-wrapper">
    <div class="navbar-header d-xl-none d-block">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html">
                    <div class="brand-logo"><img class="logo" th:src="@{../../../app-assets/images/logo/logo.png}" src="../../../app-assets/images/logo/logo.png" /></div>
                    <h2 class="brand-text mb-0">Frest</h2>
                </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary toggle-icon"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <!-- Horizontal menu content-->
    <div class="navbar-container main-menu-content" data-menu="menu-container">
        <!-- include ../../../includes/mixins-->
        <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="filled">
            <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="index.html" data-toggle="dropdown"><i class="menu-livicon" data-icon="users"></i><span data-i18n="Dashboard">Usuarios</span></a>
                <ul class="dropdown-menu">
                    <li data-menu=""><a class="dropdown-item align-items-center" href="dashboard-ecommerce.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i>Nuevo Usuario</a>
                    </li>
                    <li data-menu=""><a class="dropdown-item align-items-center" href="dashboard-analytics.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i>Listado de usuarios</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="menu-livicon" data-icon="notebook"></i><span>Libros</span></a>
                <ul class="dropdown-menu">
                    <li data-menu=""><a class="dropdown-item align-items-center" th:href="@{/Book/new}" href="app-email.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i>Nuevo libro</a>
                    </li>
                    <li data-menu=""><a class="dropdown-item align-items-center" th:ref="@{/Book/list}" href="app-chat.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i>Listado</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="menu-livicon" data-icon="notebook"></i><span>Editoriales</span></a>
                <ul class="dropdown-menu">
                    <li data-menu=""><a class="dropdown-item align-items-center" th:href="@{/Book/new}" href="app-email.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i>Nueva editorial</a>
                    </li>
                    <li data-menu=""><a class="dropdown-item align-items-center" href="app-chat.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i>Listado de editoriales</a>
                    </li>
                </ul>
            </li>
    </div>
    <!-- /horizontal menu content-->
</div>